body{
    padding: 20px;
    border: 2px solid black;
    margin: 50px;
}
h1{
    padding: 80px;
    text-align: center;
    color: aliceblue;
    font-size: 40px;
}
.div1{
    background-color: deeppink;
    height: 200px;
}
.div2{
    background-color: black;
    height: 60px;
}
li{
    float: left;
}
li a{
    color: aliceblue;
    list-style: none;
    display: block;
    text-align: center;
    padding-left: 50px;
}
li a:hover{
    background-color: green;
    color:white ;
    block-size: 30px;
}
